<div class="header">
    <h2 class="Name">Amit Dhotay</h2>
</div>

<div class="row">
    <div class="leftcolumn">
        <div class="card">
            <h2 class="Me" style="padding-left:20px">About Me</h2>


            <img class="w-full fakeimg" style="height:400px;" src="../../assets/images/aboutme.jpg" alt="technology">
            <p style="padding:20px">Hi Reader, My name is Amit, and i am a passionate software professsional with some experience in full stack web dev.
            Apart from work i like to play basketball, badminton and chess. I am also seen doing leetcode at times.
          
             Please feel free to connect over a friendly game of chess!
            <a style="color:blue" target="_blank" href="https://www.chess.com/member/nothing_ay">my chess.com profile</a></p>
        </div>
    </div>
    <div class="rightcolumn">
        <div class="card">
            <h2 class="Resume">My Resume</h2>
            <div class="fakeimg" style="height:100px;">
                <a href="../../assets/Amit_Dhotay_Resume.pdf" download="Amit_Dhotay_Resume.pdf">
                    <i class="fa fa-5x fa-download button" aria-hidden="true"></i>
                </a>
            </div>
            <!-- <p>Click on the download icon to download the resume</p> -->
        </div>
        <div class="card">
            <h3 class="Resume">Popular Post</h3>
            <div class="fakeimg">WIP</div><br>
            <!-- <div class="fakeimg">Image</div><br>
            <div class="fakeimg">Image</div> -->
        </div>

        <div class="card" style="display:flex;justify-content: center">
            <h3><p class="mb-4">Like the page? let me know what you feel :)</p>
                <div style="display:flex;justify-content: center">
                <button
                    class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
                    <i class="fa fa-5x fa-thumbs-up button-greeen" style="color:#3E8E41"></i>
                    </button>
                    <!-- <sup>0</sup> -->
                    
                    <button
                        class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
                        <i class="fa fa-5x  fa-flip-horizontal fa-thumbs-down button-red" style="color:red"></i>
                    </button>
                </div>
                    <!-- <sup>0</sup>  -->
                </h3>
            <!-- <div>Some text..</div> -->
        </div>

    </div>
</div>