.btn-custom{
position:absolute;
bottom:0px;
margin:2px;

}
.lh-custom{
    line-height: 56px !important;
    font-size: 24px !important;
}
.bg-red{
    background-color:rgb(245, 112, 112);
    border-color:rgb(245, 112, 112);
}

.bg-yellow{
    background-color:rgb(243, 243, 174);
    border-color:rgb(243, 243, 174);
}

.bg-blue{
    background-color:rgb(140, 140, 248);
    border-color:rgb(140, 140, 248);
}
.bg-white{
    background-color:rgb(245, 201, 201);
    border-color:rgb(245, 201, 201);
}
.bg-green{
    background-color:green;
}